﻿@inherits LayoutComponentBase
<div class="background"></div>
<div class="snow-flakes">
    <HeadContent>
        <link href="/css/snow.min.css" rel="stylesheet" />
    </HeadContent>
    @for (int i = 0; i < 25; i++)
    {
        <div class="snow"></div>
    }
</div>
<main>
    @Body
</main>