﻿@page "/"
@using System.Collections.Concurrent;
@implements IDisposable
@inject IJSRuntime JSRuntime

<PageTitle>B.K.</PageTitle>

<div class="container">
    <h1 class="animation-lights text-center mt-5" style="letter-spacing: 1em; font-weight: 900;">B.K.</h1>
    <hr />
    <div class="row justify-content-center">
        <div class="col-auto mb-4">
            <h4>Antrenman Zamanlayıcı</h4>
            <hr />
        </div>
        <div class="col-12"></div>
        @foreach (var item in Schedules)
        {
            <div @key="item.Key" id="@($"item-{item.Key}")" class="col-auto mb-4">
                <div class="antrenman @(item.Value.Active)" style="@($"background-color: #{item.Value.Color.ToString("X8")}")">
                    <div class="row h-100">
                        <div class="col-2 colors">
                            <div style="background-color: #ff2b2b" @onclick="() => item.Value.Color = 0xff2b2b20"></div>
                            <div style="background-color: #ff992b" @onclick="() => item.Value.Color = 0xff992b20"></div>
                            <div style="background-color: #2bff99" @onclick="() => item.Value.Color = 0x2bff9920"></div>
                        </div>
                        <div class="col-9 pt-4 position-relative">
                            <div class="input-group">
                                <input type="text" class="form-control text-center" aria-describedby="inputGroup1" autocomplete="off">
                            </div>
                            <div class="row text-center pt-4" style="font-size: 2rem;">
                                <div class="col-3"><div @onclick="() => item.Value.Seconds = item.Value.Seconds > 10 ? item.Value.Seconds - 10 : item.Value.Seconds"><i class="fa-solid fa-minus"></i></div></div>
                                <div class="col-6 text-info">@item.Value.Seconds<small style="font-size: .75rem">saniye</small></div>
                                <div class="col-3"><div @onclick="() => item.Value.Seconds += 10"><i class="fa-solid fa-plus"></i></div></div>
                            </div>
                            <div class="text-end position-absolute bottom-0 w-100">
                                <div @onclick="() => Schedules.TryRemove(item.Key, out _)" class="text-decoration-none">
                                    <i class="fa-solid fa-xmark"></i>&nbsp;Kaldır
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-auto mb-4">
            <div class="antrenman">
                <div class="new-click" @onclick="AddNew">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            @if (Schedules.Count > 0)
            {
                @if (Timer.Enabled)
                {
                    <button type="button" class="btn btn-warning" style="width: 10rem; height: 4rem;" @onclick="Stop"><i class="fa-solid fa-pause"></i>&nbsp;Beklet</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger" style="width: 10rem; height: 4rem;" @onclick="Start"><i class="fa-solid fa-play"></i>&nbsp;Başlat</button>
                }
            }
        </div>
    </div>
</div>

@code {
    int ID_Identity = 0;
    ConcurrentDictionary<int, Schedule> Schedules = new ConcurrentDictionary<int, Schedule>();
    class Schedule
    {
        public int ID { get; private set; }
        public uint Color { get; set; }
        public string Name { get; set; }
        public int Seconds { get; set; }
        public bool Active { get; set; }

        public Schedule(int id)
        {
            ID = id;
            Seconds = 20;
            Name = "";
        }
    }

    void AddNew()
    {
        int id = Interlocked.Increment(ref ID_Identity);
        Schedule schedule = new Schedule(id);
        Schedules.TryAdd(id, schedule);
    }
    void Start()
    {
        Timer.Start();
        JSRuntime?.InvokeVoidAsync("scrollToEl", $"#item-{Schedules.FirstOrDefault(x => x.Value.Seconds > 0).Key}");
    }
    void Stop()
    {
        Timer.Stop();
    }

    System.Timers.Timer Timer = new System.Timers.Timer(1000);
    protected override void OnInitialized()
    {
        Timer.Elapsed += Timer_Elapsed;
        base.OnInitialized();
    }
    public void Dispose()
    {
        Timer.Stop();
        Timer.Elapsed -= Timer_Elapsed;
        Timer.Dispose();
    }

    void Timer_Elapsed(object? o, System.Timers.ElapsedEventArgs e)
    {
        foreach (var item in Schedules)
        {
            if (item.Value.Seconds > 0)
            {
                item.Value.Seconds--;
                if (!item.Value.Active)
                {
                    item.Value.Active = true;
                }
                InvokeAsync(StateHasChanged);
                break;
            }
            else if (item.Value.Active)
            {
                item.Value.Active = false;
                JSRuntime?.InvokeVoidAsync("scrollToEl", $"#item-{item.Key+1}");
                InvokeAsync(StateHasChanged);
            }
        }
    }
}