﻿.snow-flakes {
  position: fixed;
  z-index: 1;
}

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

.snow:nth-child(1) {
  opacity: 0.04;
  transform: translate(4.5762vw, -10px) scale(0.5746);
  animation: fall-1 21s -19s linear infinite;
}

@keyframes fall-1 {
  44.333% {
    transform: translate(10.3985vw, 44.333vh) scale(0.5746);
  }
  to {
    transform: translate(7.48735vw, 100vh) scale(0.5746);
  }
}
.snow:nth-child(2) {
  opacity: 0.07;
  transform: translate(98.9085vw, -10px) scale(0.7357);
  animation: fall-2 15s -28s linear infinite;
}

@keyframes fall-2 {
  53.85% {
    transform: translate(101.4588vw, 53.85vh) scale(0.7357);
  }
  to {
    transform: translate(100.18365vw, 100vh) scale(0.7357);
  }
}
.snow:nth-child(3) {
  opacity: 0.6994;
  transform: translate(55.9151vw, -10px) scale(0.071);
  animation: fall-3 10s -2s linear infinite;
}

@keyframes fall-3 {
  65.855% {
    transform: translate(65.1389vw, 65.855vh) scale(0.071);
  }
  to {
    transform: translate(60.527vw, 100vh) scale(0.071);
  }
}
.snow:nth-child(4) {
  opacity: 0.8288;
  transform: translate(93.4597vw, -10px) scale(0.355);
  animation: fall-4 28s -8s linear infinite;
}

@keyframes fall-4 {
  61.101% {
    transform: translate(98.9725vw, 61.101vh) scale(0.355);
  }
  to {
    transform: translate(96.2161vw, 100vh) scale(0.355);
  }
}
.snow:nth-child(5) {
  opacity: 0.3131;
  transform: translate(64.5832vw, -10px) scale(0.8469);
  animation: fall-5 23s -22s linear infinite;
}

@keyframes fall-5 {
  43.549% {
    transform: translate(64.11vw, 43.549vh) scale(0.8469);
  }
  to {
    transform: translate(64.3466vw, 100vh) scale(0.8469);
  }
}
.snow:nth-child(6) {
  opacity: 0.6057;
  transform: translate(1.7342vw, -10px) scale(0.8554);
  animation: fall-6 12s -18s linear infinite;
}

@keyframes fall-6 {
  66.757% {
    transform: translate(9.4384vw, 66.757vh) scale(0.8554);
  }
  to {
    transform: translate(5.5863vw, 100vh) scale(0.8554);
  }
}
.snow:nth-child(7) {
  opacity: 0.7605;
  transform: translate(72.4163vw, -10px) scale(0.7403);
  animation: fall-7 21s -21s linear infinite;
}

@keyframes fall-7 {
  73.237% {
    transform: translate(77.6614vw, 73.237vh) scale(0.7403);
  }
  to {
    transform: translate(75.03885vw, 100vh) scale(0.7403);
  }
}
.snow:nth-child(8) {
  opacity: 0.3067;
  transform: translate(96.2214vw, -10px) scale(0.2774);
  animation: fall-8 23s -4s linear infinite;
}

@keyframes fall-8 {
  33.544% {
    transform: translate(95.5403vw, 33.544vh) scale(0.2774);
  }
  to {
    transform: translate(95.88085vw, 100vh) scale(0.2774);
  }
}
.snow:nth-child(9) {
  opacity: 0.1789;
  transform: translate(90.7152vw, -10px) scale(0.1133);
  animation: fall-9 28s -6s linear infinite;
}

@keyframes fall-9 {
  59.8% {
    transform: translate(99.9163vw, 59.8vh) scale(0.1133);
  }
  to {
    transform: translate(95.31575vw, 100vh) scale(0.1133);
  }
}
.snow:nth-child(10) {
  opacity: 0.5504;
  transform: translate(15.0064vw, -10px) scale(0.5398);
  animation: fall-10 21s -13s linear infinite;
}

@keyframes fall-10 {
  65.373% {
    transform: translate(24.857vw, 65.373vh) scale(0.5398);
  }
  to {
    transform: translate(19.9317vw, 100vh) scale(0.5398);
  }
}
.snow:nth-child(11) {
  opacity: 0.2142;
  transform: translate(35.5632vw, -10px) scale(0.5603);
  animation: fall-11 10s -26s linear infinite;
}

@keyframes fall-11 {
  31.984% {
    transform: translate(36.1411vw, 31.984vh) scale(0.5603);
  }
  to {
    transform: translate(35.85215vw, 100vh) scale(0.5603);
  }
}
.snow:nth-child(12) {
  opacity: 0.2833;
  transform: translate(34.9741vw, -10px) scale(0.417);
  animation: fall-12 22s -16s linear infinite;
}

@keyframes fall-12 {
  77.654% {
    transform: translate(37.834vw, 77.654vh) scale(0.417);
  }
  to {
    transform: translate(36.40405vw, 100vh) scale(0.417);
  }
}
.snow:nth-child(13) {
  opacity: 0.7181;
  transform: translate(66.2445vw, -10px) scale(0.3046);
  animation: fall-13 26s -24s linear infinite;
}

@keyframes fall-13 {
  40.298% {
    transform: translate(73.4298vw, 40.298vh) scale(0.3046);
  }
  to {
    transform: translate(69.83715vw, 100vh) scale(0.3046);
  }
}
.snow:nth-child(14) {
  opacity: 0.893;
  transform: translate(25.9524vw, -10px) scale(0.0936);
  animation: fall-14 27s -30s linear infinite;
}

@keyframes fall-14 {
  71.126% {
    transform: translate(26.406vw, 71.126vh) scale(0.0936);
  }
  to {
    transform: translate(26.1792vw, 100vh) scale(0.0936);
  }
}
.snow:nth-child(15) {
  opacity: 0.6203;
  transform: translate(46.7976vw, -10px) scale(0.2695);
  animation: fall-15 12s -24s linear infinite;
}

@keyframes fall-15 {
  71.258% {
    transform: translate(56.5759vw, 71.258vh) scale(0.2695);
  }
  to {
    transform: translate(51.68675vw, 100vh) scale(0.2695);
  }
}
.snow:nth-child(16) {
  opacity: 0.5672;
  transform: translate(78.1563vw, -10px) scale(0.1771);
  animation: fall-16 15s -11s linear infinite;
}

@keyframes fall-16 {
  61.656% {
    transform: translate(68.5604vw, 61.656vh) scale(0.1771);
  }
  to {
    transform: translate(73.35835vw, 100vh) scale(0.1771);
  }
}
.snow:nth-child(17) {
  opacity: 0.0411;
  transform: translate(99.2301vw, -10px) scale(0.1869);
  animation: fall-17 26s -4s linear infinite;
}

@keyframes fall-17 {
  79.878% {
    transform: translate(107.7409vw, 79.878vh) scale(0.1869);
  }
  to {
    transform: translate(103.4855vw, 100vh) scale(0.1869);
  }
}
.snow:nth-child(18) {
  opacity: 0.4423;
  transform: translate(42.2891vw, -10px) scale(0.9478);
  animation: fall-18 16s -16s linear infinite;
}

@keyframes fall-18 {
  64.346% {
    transform: translate(40.735vw, 64.346vh) scale(0.9478);
  }
  to {
    transform: translate(41.51205vw, 100vh) scale(0.9478);
  }
}
.snow:nth-child(19) {
  opacity: 0.4394;
  transform: translate(58.969vw, -10px) scale(0.2007);
  animation: fall-19 28s -25s linear infinite;
}

@keyframes fall-19 {
  49.974% {
    transform: translate(59.5331vw, 49.974vh) scale(0.2007);
  }
  to {
    transform: translate(59.25105vw, 100vh) scale(0.2007);
  }
}
.snow:nth-child(20) {
  opacity: 0.4915;
  transform: translate(44.4376vw, -10px) scale(0.1305);
  animation: fall-20 10s -15s linear infinite;
}

@keyframes fall-20 {
  77.468% {
    transform: translate(46.8247vw, 77.468vh) scale(0.1305);
  }
  to {
    transform: translate(45.63115vw, 100vh) scale(0.1305);
  }
}
.snow:nth-child(21) {
  opacity: 0.6611;
  transform: translate(16.0355vw, -10px) scale(0.4832);
  animation: fall-21 17s -10s linear infinite;
}

@keyframes fall-21 {
  67.063% {
    transform: translate(8.254vw, 67.063vh) scale(0.4832);
  }
  to {
    transform: translate(12.14475vw, 100vh) scale(0.4832);
  }
}
.snow:nth-child(22) {
  opacity: 0.1827;
  transform: translate(58.1425vw, -10px) scale(0.0036);
  animation: fall-22 17s -12s linear infinite;
}

@keyframes fall-22 {
  45.806% {
    transform: translate(66.2357vw, 45.806vh) scale(0.0036);
  }
  to {
    transform: translate(62.1891vw, 100vh) scale(0.0036);
  }
}
.snow:nth-child(23) {
  opacity: 0.4128;
  transform: translate(71.7664vw, -10px) scale(0.2873);
  animation: fall-23 27s -17s linear infinite;
}

@keyframes fall-23 {
  38.557% {
    transform: translate(79.6112vw, 38.557vh) scale(0.2873);
  }
  to {
    transform: translate(75.6888vw, 100vh) scale(0.2873);
  }
}
.snow:nth-child(24) {
  opacity: 0.0122;
  transform: translate(43.984vw, -10px) scale(0.921);
  animation: fall-24 23s -13s linear infinite;
}

@keyframes fall-24 {
  63.57% {
    transform: translate(41.5046vw, 63.57vh) scale(0.921);
  }
  to {
    transform: translate(42.7443vw, 100vh) scale(0.921);
  }
}
.snow:nth-child(25) {
  opacity: 0.3268;
  transform: translate(90.2241vw, -10px) scale(0.2374);
  animation: fall-25 27s -18s linear infinite;
}

@keyframes fall-25 {
  42.282% {
    transform: translate(92.4381vw, 42.282vh) scale(0.2374);
  }
  to {
    transform: translate(91.3311vw, 100vh) scale(0.2374);
  }
}
.snow:nth-child(26) {
  opacity: 0.8112;
  transform: translate(29.8894vw, -10px) scale(0.5642);
  animation: fall-26 22s -3s linear infinite;
}

@keyframes fall-26 {
  73.405% {
    transform: translate(23.2201vw, 73.405vh) scale(0.5642);
  }
  to {
    transform: translate(26.55475vw, 100vh) scale(0.5642);
  }
}
.snow:nth-child(27) {
  opacity: 0.7328;
  transform: translate(65.1104vw, -10px) scale(0.6288);
  animation: fall-27 19s -12s linear infinite;
}

@keyframes fall-27 {
  50.493% {
    transform: translate(71.1246vw, 50.493vh) scale(0.6288);
  }
  to {
    transform: translate(68.1175vw, 100vh) scale(0.6288);
  }
}
.snow:nth-child(28) {
  opacity: 0.6001;
  transform: translate(92.0344vw, -10px) scale(0.9739);
  animation: fall-28 17s -16s linear infinite;
}

@keyframes fall-28 {
  43.642% {
    transform: translate(84.5334vw, 43.642vh) scale(0.9739);
  }
  to {
    transform: translate(88.2839vw, 100vh) scale(0.9739);
  }
}
.snow:nth-child(29) {
  opacity: 0.7432;
  transform: translate(51.6159vw, -10px) scale(0.336);
  animation: fall-29 14s -30s linear infinite;
}

@keyframes fall-29 {
  50.235% {
    transform: translate(54.3462vw, 50.235vh) scale(0.336);
  }
  to {
    transform: translate(52.98105vw, 100vh) scale(0.336);
  }
}
.snow:nth-child(30) {
  opacity: 0.2229;
  transform: translate(98.3878vw, -10px) scale(0.3705);
  animation: fall-30 23s -13s linear infinite;
}

@keyframes fall-30 {
  66.27% {
    transform: translate(107.6607vw, 66.27vh) scale(0.3705);
  }
  to {
    transform: translate(103.02425vw, 100vh) scale(0.3705);
  }
}
.snow:nth-child(31) {
  opacity: 0.4589;
  transform: translate(17.8074vw, -10px) scale(0.9693);
  animation: fall-31 27s -23s linear infinite;
}

@keyframes fall-31 {
  46.206% {
    transform: translate(20.1847vw, 46.206vh) scale(0.9693);
  }
  to {
    transform: translate(18.99605vw, 100vh) scale(0.9693);
  }
}
.snow:nth-child(32) {
  opacity: 0.2694;
  transform: translate(93.0075vw, -10px) scale(0.3912);
  animation: fall-32 15s -11s linear infinite;
}

@keyframes fall-32 {
  73.138% {
    transform: translate(102.817vw, 73.138vh) scale(0.3912);
  }
  to {
    transform: translate(97.91225vw, 100vh) scale(0.3912);
  }
}
.snow:nth-child(33) {
  opacity: 0.7657;
  transform: translate(3.9875vw, -10px) scale(0.6504);
  animation: fall-33 23s -4s linear infinite;
}

@keyframes fall-33 {
  48.44% {
    transform: translate(3.0827vw, 48.44vh) scale(0.6504);
  }
  to {
    transform: translate(3.5351vw, 100vh) scale(0.6504);
  }
}
.snow:nth-child(34) {
  opacity: 0.4653;
  transform: translate(4.6428vw, -10px) scale(0.5928);
  animation: fall-34 25s -6s linear infinite;
}

@keyframes fall-34 {
  73.616% {
    transform: translate(-4.8255vw, 73.616vh) scale(0.5928);
  }
  to {
    transform: translate(-0.09135vw, 100vh) scale(0.5928);
  }
}
.snow:nth-child(35) {
  opacity: 0.7339;
  transform: translate(73.0267vw, -10px) scale(0.7358);
  animation: fall-35 26s -14s linear infinite;
}

@keyframes fall-35 {
  54.911% {
    transform: translate(80.0905vw, 54.911vh) scale(0.7358);
  }
  to {
    transform: translate(76.5586vw, 100vh) scale(0.7358);
  }
}
.snow:nth-child(36) {
  opacity: 0.7853;
  transform: translate(96.0679vw, -10px) scale(0.8638);
  animation: fall-36 18s -17s linear infinite;
}

@keyframes fall-36 {
  77.501% {
    transform: translate(97.5918vw, 77.501vh) scale(0.8638);
  }
  to {
    transform: translate(96.82985vw, 100vh) scale(0.8638);
  }
}
.snow:nth-child(37) {
  opacity: 0.0347;
  transform: translate(92.5274vw, -10px) scale(0.8474);
  animation: fall-37 14s -25s linear infinite;
}

@keyframes fall-37 {
  49.442% {
    transform: translate(101.2255vw, 49.442vh) scale(0.8474);
  }
  to {
    transform: translate(96.87645vw, 100vh) scale(0.8474);
  }
}
.snow:nth-child(38) {
  opacity: 0.0603;
  transform: translate(81.5428vw, -10px) scale(0.1359);
  animation: fall-38 26s -25s linear infinite;
}

@keyframes fall-38 {
  59.437% {
    transform: translate(78.545vw, 59.437vh) scale(0.1359);
  }
  to {
    transform: translate(80.0439vw, 100vh) scale(0.1359);
  }
}
.snow:nth-child(39) {
  opacity: 0.7087;
  transform: translate(88.8493vw, -10px) scale(0.6842);
  animation: fall-39 20s -10s linear infinite;
}

@keyframes fall-39 {
  48.379% {
    transform: translate(92.3367vw, 48.379vh) scale(0.6842);
  }
  to {
    transform: translate(90.593vw, 100vh) scale(0.6842);
  }
}
.snow:nth-child(40) {
  opacity: 0.9743;
  transform: translate(42.249vw, -10px) scale(0.8477);
  animation: fall-40 12s -18s linear infinite;
}

@keyframes fall-40 {
  77.294% {
    transform: translate(47.4181vw, 77.294vh) scale(0.8477);
  }
  to {
    transform: translate(44.83355vw, 100vh) scale(0.8477);
  }
}
.snow:nth-child(41) {
  opacity: 0.8645;
  transform: translate(74.297vw, -10px) scale(0.7916);
  animation: fall-41 19s -23s linear infinite;
}

@keyframes fall-41 {
  54.822% {
    transform: translate(74.937vw, 54.822vh) scale(0.7916);
  }
  to {
    transform: translate(74.617vw, 100vh) scale(0.7916);
  }
}
.snow:nth-child(42) {
  opacity: 0.2703;
  transform: translate(95.9201vw, -10px) scale(0.5328);
  animation: fall-42 29s -23s linear infinite;
}

@keyframes fall-42 {
  45.544% {
    transform: translate(93.6819vw, 45.544vh) scale(0.5328);
  }
  to {
    transform: translate(94.801vw, 100vh) scale(0.5328);
  }
}
.snow:nth-child(43) {
  opacity: 0.7547;
  transform: translate(69.112vw, -10px) scale(0.3988);
  animation: fall-43 28s -30s linear infinite;
}

@keyframes fall-43 {
  74.032% {
    transform: translate(73.2824vw, 74.032vh) scale(0.3988);
  }
  to {
    transform: translate(71.1972vw, 100vh) scale(0.3988);
  }
}
.snow:nth-child(44) {
  opacity: 0.5717;
  transform: translate(52.2455vw, -10px) scale(0.9496);
  animation: fall-44 21s -9s linear infinite;
}

@keyframes fall-44 {
  31.26% {
    transform: translate(61.3923vw, 31.26vh) scale(0.9496);
  }
  to {
    transform: translate(56.8189vw, 100vh) scale(0.9496);
  }
}
.snow:nth-child(45) {
  opacity: 0.783;
  transform: translate(28.1599vw, -10px) scale(0.4291);
  animation: fall-45 27s -5s linear infinite;
}

@keyframes fall-45 {
  69.819% {
    transform: translate(23.7954vw, 69.819vh) scale(0.4291);
  }
  to {
    transform: translate(25.97765vw, 100vh) scale(0.4291);
  }
}
.snow:nth-child(46) {
  opacity: 0.6077;
  transform: translate(92.1003vw, -10px) scale(0.1528);
  animation: fall-46 24s -9s linear infinite;
}

@keyframes fall-46 {
  61.205% {
    transform: translate(84.6675vw, 61.205vh) scale(0.1528);
  }
  to {
    transform: translate(88.3839vw, 100vh) scale(0.1528);
  }
}
.snow:nth-child(47) {
  opacity: 0.2978;
  transform: translate(17.1359vw, -10px) scale(0.5987);
  animation: fall-47 11s -30s linear infinite;
}

@keyframes fall-47 {
  67.581% {
    transform: translate(10.3899vw, 67.581vh) scale(0.5987);
  }
  to {
    transform: translate(13.7629vw, 100vh) scale(0.5987);
  }
}
.snow:nth-child(48) {
  opacity: 0.3339;
  transform: translate(63.9098vw, -10px) scale(0.3319);
  animation: fall-48 21s -3s linear infinite;
}

@keyframes fall-48 {
  45.471% {
    transform: translate(67.6054vw, 45.471vh) scale(0.3319);
  }
  to {
    transform: translate(65.7576vw, 100vh) scale(0.3319);
  }
}
.snow:nth-child(49) {
  opacity: 0.3149;
  transform: translate(57.0673vw, -10px) scale(0.1418);
  animation: fall-49 20s -30s linear infinite;
}

@keyframes fall-49 {
  64.642% {
    transform: translate(59.6164vw, 64.642vh) scale(0.1418);
  }
  to {
    transform: translate(58.34185vw, 100vh) scale(0.1418);
  }
}
.snow:nth-child(50) {
  opacity: 0.1102;
  transform: translate(29.4435vw, -10px) scale(0.4492);
  animation: fall-50 11s -28s linear infinite;
}

@keyframes fall-50 {
  40.457% {
    transform: translate(35.9089vw, 40.457vh) scale(0.4492);
  }
  to {
    transform: translate(32.6762vw, 100vh) scale(0.4492);
  }
}
.snow:nth-child(51) {
  opacity: 0.9219;
  transform: translate(57.6998vw, -10px) scale(0.3237);
  animation: fall-51 20s -15s linear infinite;
}

@keyframes fall-51 {
  74.563% {
    transform: translate(62.4834vw, 74.563vh) scale(0.3237);
  }
  to {
    transform: translate(60.0916vw, 100vh) scale(0.3237);
  }
}
.snow:nth-child(52) {
  opacity: 0.5296;
  transform: translate(49.247vw, -10px) scale(0.2661);
  animation: fall-52 19s -15s linear infinite;
}

@keyframes fall-52 {
  48.882% {
    transform: translate(39.7642vw, 48.882vh) scale(0.2661);
  }
  to {
    transform: translate(44.5056vw, 100vh) scale(0.2661);
  }
}
.snow:nth-child(53) {
  opacity: 0.7867;
  transform: translate(19.2713vw, -10px) scale(0.5334);
  animation: fall-53 30s -3s linear infinite;
}

@keyframes fall-53 {
  70.407% {
    transform: translate(25.06vw, 70.407vh) scale(0.5334);
  }
  to {
    transform: translate(22.16565vw, 100vh) scale(0.5334);
  }
}
.snow:nth-child(54) {
  opacity: 0.0179;
  transform: translate(56.8698vw, -10px) scale(0.3606);
  animation: fall-54 19s -11s linear infinite;
}

@keyframes fall-54 {
  36.793% {
    transform: translate(54.8487vw, 36.793vh) scale(0.3606);
  }
  to {
    transform: translate(55.85925vw, 100vh) scale(0.3606);
  }
}
.snow:nth-child(55) {
  opacity: 0.2256;
  transform: translate(73.8583vw, -10px) scale(0.459);
  animation: fall-55 21s -27s linear infinite;
}

@keyframes fall-55 {
  42.11% {
    transform: translate(74.6588vw, 42.11vh) scale(0.459);
  }
  to {
    transform: translate(74.25855vw, 100vh) scale(0.459);
  }
}
.snow:nth-child(56) {
  opacity: 0.8046;
  transform: translate(91.8274vw, -10px) scale(0.8528);
  animation: fall-56 11s -5s linear infinite;
}

@keyframes fall-56 {
  68.973% {
    transform: translate(98.8411vw, 68.973vh) scale(0.8528);
  }
  to {
    transform: translate(95.33425vw, 100vh) scale(0.8528);
  }
}
.snow:nth-child(57) {
  opacity: 0.7328;
  transform: translate(8.2278vw, -10px) scale(0.4132);
  animation: fall-57 26s -1s linear infinite;
}

@keyframes fall-57 {
  57.589% {
    transform: translate(16.563vw, 57.589vh) scale(0.4132);
  }
  to {
    transform: translate(12.3954vw, 100vh) scale(0.4132);
  }
}
.snow:nth-child(58) {
  opacity: 0.8251;
  transform: translate(22.0048vw, -10px) scale(0.8776);
  animation: fall-58 25s -15s linear infinite;
}

@keyframes fall-58 {
  57.214% {
    transform: translate(15.0412vw, 57.214vh) scale(0.8776);
  }
  to {
    transform: translate(18.523vw, 100vh) scale(0.8776);
  }
}
.snow:nth-child(59) {
  opacity: 0.3724;
  transform: translate(88.4319vw, -10px) scale(0.8194);
  animation: fall-59 14s -17s linear infinite;
}

@keyframes fall-59 {
  57.989% {
    transform: translate(88.1678vw, 57.989vh) scale(0.8194);
  }
  to {
    transform: translate(88.29985vw, 100vh) scale(0.8194);
  }
}
.snow:nth-child(60) {
  opacity: 0.3853;
  transform: translate(89.5167vw, -10px) scale(0.8705);
  animation: fall-60 11s -10s linear infinite;
}

@keyframes fall-60 {
  32.382% {
    transform: translate(89.0563vw, 32.382vh) scale(0.8705);
  }
  to {
    transform: translate(89.2865vw, 100vh) scale(0.8705);
  }
}
.snow:nth-child(61) {
  opacity: 0.6052;
  transform: translate(10.2579vw, -10px) scale(0.7289);
  animation: fall-61 15s -16s linear infinite;
}

@keyframes fall-61 {
  34.379% {
    transform: translate(7.1018vw, 34.379vh) scale(0.7289);
  }
  to {
    transform: translate(8.67985vw, 100vh) scale(0.7289);
  }
}
.snow:nth-child(62) {
  opacity: 0.523;
  transform: translate(13.0428vw, -10px) scale(0.9905);
  animation: fall-62 19s -28s linear infinite;
}

@keyframes fall-62 {
  43.403% {
    transform: translate(9.707vw, 43.403vh) scale(0.9905);
  }
  to {
    transform: translate(11.3749vw, 100vh) scale(0.9905);
  }
}
.snow:nth-child(63) {
  opacity: 0.2058;
  transform: translate(17.1599vw, -10px) scale(0.1969);
  animation: fall-63 10s -14s linear infinite;
}

@keyframes fall-63 {
  32.376% {
    transform: translate(8.9517vw, 32.376vh) scale(0.1969);
  }
  to {
    transform: translate(13.0558vw, 100vh) scale(0.1969);
  }
}
.snow:nth-child(64) {
  opacity: 0.9984;
  transform: translate(8.0621vw, -10px) scale(0.4771);
  animation: fall-64 10s -4s linear infinite;
}

@keyframes fall-64 {
  54.532% {
    transform: translate(10.6938vw, 54.532vh) scale(0.4771);
  }
  to {
    transform: translate(9.37795vw, 100vh) scale(0.4771);
  }
}
.snow:nth-child(65) {
  opacity: 0.7894;
  transform: translate(52.522vw, -10px) scale(0.3616);
  animation: fall-65 19s -17s linear infinite;
}

@keyframes fall-65 {
  45.586% {
    transform: translate(51.9651vw, 45.586vh) scale(0.3616);
  }
  to {
    transform: translate(52.24355vw, 100vh) scale(0.3616);
  }
}
.snow:nth-child(66) {
  opacity: 0.9348;
  transform: translate(17.4002vw, -10px) scale(0.4777);
  animation: fall-66 27s -7s linear infinite;
}

@keyframes fall-66 {
  55.139% {
    transform: translate(19.1261vw, 55.139vh) scale(0.4777);
  }
  to {
    transform: translate(18.26315vw, 100vh) scale(0.4777);
  }
}
.snow:nth-child(67) {
  opacity: 0.8697;
  transform: translate(63.3858vw, -10px) scale(0.3723);
  animation: fall-67 23s -7s linear infinite;
}

@keyframes fall-67 {
  77.107% {
    transform: translate(68.8341vw, 77.107vh) scale(0.3723);
  }
  to {
    transform: translate(66.10995vw, 100vh) scale(0.3723);
  }
}
.snow:nth-child(68) {
  opacity: 0.3653;
  transform: translate(41.4072vw, -10px) scale(0.2589);
  animation: fall-68 18s -25s linear infinite;
}

@keyframes fall-68 {
  48.074% {
    transform: translate(36.5642vw, 48.074vh) scale(0.2589);
  }
  to {
    transform: translate(38.9857vw, 100vh) scale(0.2589);
  }
}
.snow:nth-child(69) {
  opacity: 0.9485;
  transform: translate(67.3009vw, -10px) scale(0.7583);
  animation: fall-69 16s -28s linear infinite;
}

@keyframes fall-69 {
  71.09% {
    transform: translate(74.0876vw, 71.09vh) scale(0.7583);
  }
  to {
    transform: translate(70.69425vw, 100vh) scale(0.7583);
  }
}
.snow:nth-child(70) {
  opacity: 0.5673;
  transform: translate(80.0077vw, -10px) scale(0.2021);
  animation: fall-70 17s -30s linear infinite;
}

@keyframes fall-70 {
  63.648% {
    transform: translate(82.9916vw, 63.648vh) scale(0.2021);
  }
  to {
    transform: translate(81.49965vw, 100vh) scale(0.2021);
  }
}
.snow:nth-child(71) {
  opacity: 0.8025;
  transform: translate(78.876vw, -10px) scale(0.7716);
  animation: fall-71 21s -14s linear infinite;
}

@keyframes fall-71 {
  57.258% {
    transform: translate(72.8551vw, 57.258vh) scale(0.7716);
  }
  to {
    transform: translate(75.86555vw, 100vh) scale(0.7716);
  }
}
.snow:nth-child(72) {
  opacity: 0.6581;
  transform: translate(94.6715vw, -10px) scale(0.893);
  animation: fall-72 15s -23s linear infinite;
}

@keyframes fall-72 {
  69.489% {
    transform: translate(94.1649vw, 69.489vh) scale(0.893);
  }
  to {
    transform: translate(94.4182vw, 100vh) scale(0.893);
  }
}
.snow:nth-child(73) {
  opacity: 0.8894;
  transform: translate(24.6375vw, -10px) scale(0.1134);
  animation: fall-73 19s -10s linear infinite;
}

@keyframes fall-73 {
  54.436% {
    transform: translate(31.921vw, 54.436vh) scale(0.1134);
  }
  to {
    transform: translate(28.27925vw, 100vh) scale(0.1134);
  }
}
.snow:nth-child(74) {
  opacity: 0.2277;
  transform: translate(66.4902vw, -10px) scale(0.1847);
  animation: fall-74 17s -22s linear infinite;
}

@keyframes fall-74 {
  74.783% {
    transform: translate(61.4194vw, 74.783vh) scale(0.1847);
  }
  to {
    transform: translate(63.9548vw, 100vh) scale(0.1847);
  }
}
.snow:nth-child(75) {
  opacity: 0.0108;
  transform: translate(99.9549vw, -10px) scale(0.4961);
  animation: fall-75 26s -16s linear infinite;
}

@keyframes fall-75 {
  56.488% {
    transform: translate(101.3853vw, 56.488vh) scale(0.4961);
  }
  to {
    transform: translate(100.6701vw, 100vh) scale(0.4961);
  }
}
.snow:nth-child(76) {
  opacity: 0.0655;
  transform: translate(36.0888vw, -10px) scale(0.3019);
  animation: fall-76 24s -21s linear infinite;
}

@keyframes fall-76 {
  41.461% {
    transform: translate(42.7933vw, 41.461vh) scale(0.3019);
  }
  to {
    transform: translate(39.44105vw, 100vh) scale(0.3019);
  }
}
.snow:nth-child(77) {
  opacity: 0.5872;
  transform: translate(20.8283vw, -10px) scale(0.9242);
  animation: fall-77 24s -4s linear infinite;
}

@keyframes fall-77 {
  72.622% {
    transform: translate(19.5634vw, 72.622vh) scale(0.9242);
  }
  to {
    transform: translate(20.19585vw, 100vh) scale(0.9242);
  }
}
.snow:nth-child(78) {
  opacity: 0.2578;
  transform: translate(52.5528vw, -10px) scale(0.3392);
  animation: fall-78 16s -17s linear infinite;
}

@keyframes fall-78 {
  33.197% {
    transform: translate(55.4332vw, 33.197vh) scale(0.3392);
  }
  to {
    transform: translate(53.993vw, 100vh) scale(0.3392);
  }
}
.snow:nth-child(79) {
  opacity: 0.5023;
  transform: translate(78.6823vw, -10px) scale(0.1093);
  animation: fall-79 15s -29s linear infinite;
}

@keyframes fall-79 {
  65.292% {
    transform: translate(69.1124vw, 65.292vh) scale(0.1093);
  }
  to {
    transform: translate(73.89735vw, 100vh) scale(0.1093);
  }
}
.snow:nth-child(80) {
  opacity: 0.7682;
  transform: translate(72.6535vw, -10px) scale(0.2099);
  animation: fall-80 13s -8s linear infinite;
}

@keyframes fall-80 {
  70.898% {
    transform: translate(66.0191vw, 70.898vh) scale(0.2099);
  }
  to {
    transform: translate(69.3363vw, 100vh) scale(0.2099);
  }
}
.snow:nth-child(81) {
  opacity: 0.6576;
  transform: translate(18.1393vw, -10px) scale(0.8327);
  animation: fall-81 28s -28s linear infinite;
}

@keyframes fall-81 {
  42.112% {
    transform: translate(8.4704vw, 42.112vh) scale(0.8327);
  }
  to {
    transform: translate(13.30485vw, 100vh) scale(0.8327);
  }
}
.snow:nth-child(82) {
  opacity: 0.8192;
  transform: translate(78.9904vw, -10px) scale(0.4375);
  animation: fall-82 14s -26s linear infinite;
}

@keyframes fall-82 {
  58.629% {
    transform: translate(85.681vw, 58.629vh) scale(0.4375);
  }
  to {
    transform: translate(82.3357vw, 100vh) scale(0.4375);
  }
}
.snow:nth-child(83) {
  opacity: 0.9152;
  transform: translate(98.3657vw, -10px) scale(0.3011);
  animation: fall-83 15s -6s linear infinite;
}

@keyframes fall-83 {
  42.886% {
    transform: translate(95.3797vw, 42.886vh) scale(0.3011);
  }
  to {
    transform: translate(96.8727vw, 100vh) scale(0.3011);
  }
}
.snow:nth-child(84) {
  opacity: 0.5632;
  transform: translate(14.5094vw, -10px) scale(0.7351);
  animation: fall-84 15s -24s linear infinite;
}

@keyframes fall-84 {
  50.424% {
    transform: translate(16.5734vw, 50.424vh) scale(0.7351);
  }
  to {
    transform: translate(15.5414vw, 100vh) scale(0.7351);
  }
}
.snow:nth-child(85) {
  opacity: 0.3371;
  transform: translate(49.2815vw, -10px) scale(0.863);
  animation: fall-85 17s -28s linear infinite;
}

@keyframes fall-85 {
  37.459% {
    transform: translate(49.316vw, 37.459vh) scale(0.863);
  }
  to {
    transform: translate(49.29875vw, 100vh) scale(0.863);
  }
}
.snow:nth-child(86) {
  opacity: 0.0739;
  transform: translate(90.0998vw, -10px) scale(0.7572);
  animation: fall-86 28s -5s linear infinite;
}

@keyframes fall-86 {
  56.532% {
    transform: translate(84.3537vw, 56.532vh) scale(0.7572);
  }
  to {
    transform: translate(87.22675vw, 100vh) scale(0.7572);
  }
}
.snow:nth-child(87) {
  opacity: 0.558;
  transform: translate(83.7079vw, -10px) scale(0.6331);
  animation: fall-87 14s -1s linear infinite;
}

@keyframes fall-87 {
  35.05% {
    transform: translate(82.6279vw, 35.05vh) scale(0.6331);
  }
  to {
    transform: translate(83.1679vw, 100vh) scale(0.6331);
  }
}
.snow:nth-child(88) {
  opacity: 0.4299;
  transform: translate(49.1921vw, -10px) scale(0.1863);
  animation: fall-88 29s -5s linear infinite;
}

@keyframes fall-88 {
  52.949% {
    transform: translate(41.4237vw, 52.949vh) scale(0.1863);
  }
  to {
    transform: translate(45.3079vw, 100vh) scale(0.1863);
  }
}
.snow:nth-child(89) {
  opacity: 0.5697;
  transform: translate(71.0701vw, -10px) scale(0.6795);
  animation: fall-89 24s -26s linear infinite;
}

@keyframes fall-89 {
  73.698% {
    transform: translate(68.5696vw, 73.698vh) scale(0.6795);
  }
  to {
    transform: translate(69.81985vw, 100vh) scale(0.6795);
  }
}
.snow:nth-child(90) {
  opacity: 0.9661;
  transform: translate(28.3651vw, -10px) scale(0.7933);
  animation: fall-90 14s -21s linear infinite;
}

@keyframes fall-90 {
  42.563% {
    transform: translate(22.4335vw, 42.563vh) scale(0.7933);
  }
  to {
    transform: translate(25.3993vw, 100vh) scale(0.7933);
  }
}
.snow:nth-child(91) {
  opacity: 0.7142;
  transform: translate(57.3553vw, -10px) scale(0.2861);
  animation: fall-91 17s -12s linear infinite;
}

@keyframes fall-91 {
  71.66% {
    transform: translate(66.7062vw, 71.66vh) scale(0.2861);
  }
  to {
    transform: translate(62.03075vw, 100vh) scale(0.2861);
  }
}
.snow:nth-child(92) {
  opacity: 0.5286;
  transform: translate(75.9826vw, -10px) scale(0.7464);
  animation: fall-92 28s -30s linear infinite;
}

@keyframes fall-92 {
  35.827% {
    transform: translate(78.2386vw, 35.827vh) scale(0.7464);
  }
  to {
    transform: translate(77.1106vw, 100vh) scale(0.7464);
  }
}
.snow:nth-child(93) {
  opacity: 0.9891;
  transform: translate(83.9416vw, -10px) scale(0.4187);
  animation: fall-93 28s -11s linear infinite;
}

@keyframes fall-93 {
  55.354% {
    transform: translate(84.5259vw, 55.354vh) scale(0.4187);
  }
  to {
    transform: translate(84.23375vw, 100vh) scale(0.4187);
  }
}
.snow:nth-child(94) {
  opacity: 0.0959;
  transform: translate(66.2508vw, -10px) scale(0.2853);
  animation: fall-94 18s -12s linear infinite;
}

@keyframes fall-94 {
  49.282% {
    transform: translate(68.0584vw, 49.282vh) scale(0.2853);
  }
  to {
    transform: translate(67.1546vw, 100vh) scale(0.2853);
  }
}
.snow:nth-child(95) {
  opacity: 0.1684;
  transform: translate(47.838vw, -10px) scale(0.8825);
  animation: fall-95 19s -2s linear infinite;
}

@keyframes fall-95 {
  72.811% {
    transform: translate(38.2961vw, 72.811vh) scale(0.8825);
  }
  to {
    transform: translate(43.06705vw, 100vh) scale(0.8825);
  }
}
.snow:nth-child(96) {
  opacity: 0.4171;
  transform: translate(45.7871vw, -10px) scale(0.3165);
  animation: fall-96 30s -21s linear infinite;
}

@keyframes fall-96 {
  71.154% {
    transform: translate(49.9347vw, 71.154vh) scale(0.3165);
  }
  to {
    transform: translate(47.8609vw, 100vh) scale(0.3165);
  }
}
.snow:nth-child(97) {
  opacity: 0.0426;
  transform: translate(67.949vw, -10px) scale(0.344);
  animation: fall-97 15s -27s linear infinite;
}

@keyframes fall-97 {
  38.807% {
    transform: translate(71.238vw, 38.807vh) scale(0.344);
  }
  to {
    transform: translate(69.5935vw, 100vh) scale(0.344);
  }
}
.snow:nth-child(98) {
  opacity: 0.4661;
  transform: translate(76.5125vw, -10px) scale(0.5018);
  animation: fall-98 18s -13s linear infinite;
}

@keyframes fall-98 {
  78.323% {
    transform: translate(83.7639vw, 78.323vh) scale(0.5018);
  }
  to {
    transform: translate(80.1382vw, 100vh) scale(0.5018);
  }
}
.snow:nth-child(99) {
  opacity: 0.2415;
  transform: translate(68.3067vw, -10px) scale(0.1495);
  animation: fall-99 15s -19s linear infinite;
}

@keyframes fall-99 {
  63.37% {
    transform: translate(72.035vw, 63.37vh) scale(0.1495);
  }
  to {
    transform: translate(70.17085vw, 100vh) scale(0.1495);
  }
}
.snow:nth-child(100) {
  opacity: 0.3491;
  transform: translate(49.2713vw, -10px) scale(0.7286);
  animation: fall-100 30s -1s linear infinite;
}

@keyframes fall-100 {
  65.895% {
    transform: translate(41.5984vw, 65.895vh) scale(0.7286);
  }
  to {
    transform: translate(45.43485vw, 100vh) scale(0.7286);
  }
}
.snow:nth-child(101) {
  opacity: 0.954;
  transform: translate(98.357vw, -10px) scale(0.7097);
  animation: fall-101 20s -4s linear infinite;
}

@keyframes fall-101 {
  47.121% {
    transform: translate(105.507vw, 47.121vh) scale(0.7097);
  }
  to {
    transform: translate(101.932vw, 100vh) scale(0.7097);
  }
}
.snow:nth-child(102) {
  opacity: 0.2994;
  transform: translate(51.7414vw, -10px) scale(0.0696);
  animation: fall-102 17s -5s linear infinite;
}

@keyframes fall-102 {
  78.186% {
    transform: translate(43.1133vw, 78.186vh) scale(0.0696);
  }
  to {
    transform: translate(47.42735vw, 100vh) scale(0.0696);
  }
}
.snow:nth-child(103) {
  opacity: 0.0957;
  transform: translate(24.4629vw, -10px) scale(0.1164);
  animation: fall-103 16s -26s linear infinite;
}

@keyframes fall-103 {
  69.103% {
    transform: translate(18.3139vw, 69.103vh) scale(0.1164);
  }
  to {
    transform: translate(21.3884vw, 100vh) scale(0.1164);
  }
}
.snow:nth-child(104) {
  opacity: 0.1721;
  transform: translate(82.3951vw, -10px) scale(0.7138);
  animation: fall-104 16s -1s linear infinite;
}

@keyframes fall-104 {
  41.87% {
    transform: translate(87.9828vw, 41.87vh) scale(0.7138);
  }
  to {
    transform: translate(85.18895vw, 100vh) scale(0.7138);
  }
}
.snow:nth-child(105) {
  opacity: 0.5897;
  transform: translate(45.368vw, -10px) scale(0.2256);
  animation: fall-105 29s -23s linear infinite;
}

@keyframes fall-105 {
  35.421% {
    transform: translate(55.1605vw, 35.421vh) scale(0.2256);
  }
  to {
    transform: translate(50.26425vw, 100vh) scale(0.2256);
  }
}
.snow:nth-child(106) {
  opacity: 0.1944;
  transform: translate(62.5852vw, -10px) scale(0.7658);
  animation: fall-106 25s -13s linear infinite;
}

@keyframes fall-106 {
  31.135% {
    transform: translate(63.7045vw, 31.135vh) scale(0.7658);
  }
  to {
    transform: translate(63.14485vw, 100vh) scale(0.7658);
  }
}
.snow:nth-child(107) {
  opacity: 0.4863;
  transform: translate(13.373vw, -10px) scale(0.0233);
  animation: fall-107 21s -23s linear infinite;
}

@keyframes fall-107 {
  32.877% {
    transform: translate(9.3791vw, 32.877vh) scale(0.0233);
  }
  to {
    transform: translate(11.37605vw, 100vh) scale(0.0233);
  }
}
.snow:nth-child(108) {
  opacity: 0.3045;
  transform: translate(82.4596vw, -10px) scale(0.4497);
  animation: fall-108 14s -20s linear infinite;
}

@keyframes fall-108 {
  79.508% {
    transform: translate(92.3058vw, 79.508vh) scale(0.4497);
  }
  to {
    transform: translate(87.3827vw, 100vh) scale(0.4497);
  }
}
.snow:nth-child(109) {
  opacity: 0.4812;
  transform: translate(15.9361vw, -10px) scale(0.8376);
  animation: fall-109 24s -15s linear infinite;
}

@keyframes fall-109 {
  43.146% {
    transform: translate(9.677vw, 43.146vh) scale(0.8376);
  }
  to {
    transform: translate(12.80655vw, 100vh) scale(0.8376);
  }
}
.snow:nth-child(110) {
  opacity: 0.6347;
  transform: translate(76.2033vw, -10px) scale(0.9274);
  animation: fall-110 14s -26s linear infinite;
}

@keyframes fall-110 {
  66.899% {
    transform: translate(71.5935vw, 66.899vh) scale(0.9274);
  }
  to {
    transform: translate(73.8984vw, 100vh) scale(0.9274);
  }
}
.snow:nth-child(111) {
  opacity: 0.1543;
  transform: translate(93.0705vw, -10px) scale(0.0273);
  animation: fall-111 21s -6s linear infinite;
}

@keyframes fall-111 {
  71.755% {
    transform: translate(94.089vw, 71.755vh) scale(0.0273);
  }
  to {
    transform: translate(93.57975vw, 100vh) scale(0.0273);
  }
}
.snow:nth-child(112) {
  opacity: 0.9354;
  transform: translate(10.0585vw, -10px) scale(0.7533);
  animation: fall-112 22s -12s linear infinite;
}

@keyframes fall-112 {
  74.575% {
    transform: translate(14.2792vw, 74.575vh) scale(0.7533);
  }
  to {
    transform: translate(12.16885vw, 100vh) scale(0.7533);
  }
}
.snow:nth-child(113) {
  opacity: 0.2244;
  transform: translate(68.0921vw, -10px) scale(0.0801);
  animation: fall-113 13s -20s linear infinite;
}

@keyframes fall-113 {
  74.983% {
    transform: translate(62.6419vw, 74.983vh) scale(0.0801);
  }
  to {
    transform: translate(65.367vw, 100vh) scale(0.0801);
  }
}
.snow:nth-child(114) {
  opacity: 0.0102;
  transform: translate(2.4565vw, -10px) scale(0.1339);
  animation: fall-114 23s -5s linear infinite;
}

@keyframes fall-114 {
  69.174% {
    transform: translate(0.0478vw, 69.174vh) scale(0.1339);
  }
  to {
    transform: translate(1.25215vw, 100vh) scale(0.1339);
  }
}
.snow:nth-child(115) {
  opacity: 0.2673;
  transform: translate(61.5747vw, -10px) scale(0.6219);
  animation: fall-115 20s -7s linear infinite;
}

@keyframes fall-115 {
  78.592% {
    transform: translate(54.0042vw, 78.592vh) scale(0.6219);
  }
  to {
    transform: translate(57.78945vw, 100vh) scale(0.6219);
  }
}
.snow:nth-child(116) {
  opacity: 0.5003;
  transform: translate(21.0444vw, -10px) scale(0.8263);
  animation: fall-116 30s -11s linear infinite;
}

@keyframes fall-116 {
  68.549% {
    transform: translate(13.5104vw, 68.549vh) scale(0.8263);
  }
  to {
    transform: translate(17.2774vw, 100vh) scale(0.8263);
  }
}
.snow:nth-child(117) {
  opacity: 0.5191;
  transform: translate(62.6315vw, -10px) scale(0.306);
  animation: fall-117 10s -28s linear infinite;
}

@keyframes fall-117 {
  38.809% {
    transform: translate(58.2077vw, 38.809vh) scale(0.306);
  }
  to {
    transform: translate(60.4196vw, 100vh) scale(0.306);
  }
}
.snow:nth-child(118) {
  opacity: 0.6159;
  transform: translate(91.3792vw, -10px) scale(0.4756);
  animation: fall-118 16s -17s linear infinite;
}

@keyframes fall-118 {
  65.135% {
    transform: translate(83.791vw, 65.135vh) scale(0.4756);
  }
  to {
    transform: translate(87.5851vw, 100vh) scale(0.4756);
  }
}
.snow:nth-child(119) {
  opacity: 0.5479;
  transform: translate(16.5394vw, -10px) scale(0.8279);
  animation: fall-119 13s -10s linear infinite;
}

@keyframes fall-119 {
  72.892% {
    transform: translate(15.4708vw, 72.892vh) scale(0.8279);
  }
  to {
    transform: translate(16.0051vw, 100vh) scale(0.8279);
  }
}
.snow:nth-child(120) {
  opacity: 0.9278;
  transform: translate(45.4277vw, -10px) scale(0.7135);
  animation: fall-120 13s -15s linear infinite;
}

@keyframes fall-120 {
  37.852% {
    transform: translate(50.6092vw, 37.852vh) scale(0.7135);
  }
  to {
    transform: translate(48.01845vw, 100vh) scale(0.7135);
  }
}
.snow:nth-child(121) {
  opacity: 0.9065;
  transform: translate(70.2377vw, -10px) scale(0.8676);
  animation: fall-121 18s -14s linear infinite;
}

@keyframes fall-121 {
  51.474% {
    transform: translate(69.3595vw, 51.474vh) scale(0.8676);
  }
  to {
    transform: translate(69.7986vw, 100vh) scale(0.8676);
  }
}
.snow:nth-child(122) {
  opacity: 0.5966;
  transform: translate(60.0505vw, -10px) scale(0.3852);
  animation: fall-122 21s -30s linear infinite;
}

@keyframes fall-122 {
  61.888% {
    transform: translate(55.9742vw, 61.888vh) scale(0.3852);
  }
  to {
    transform: translate(58.01235vw, 100vh) scale(0.3852);
  }
}
.snow:nth-child(123) {
  opacity: 0.4987;
  transform: translate(22.1882vw, -10px) scale(0.9064);
  animation: fall-123 29s -22s linear infinite;
}

@keyframes fall-123 {
  69.424% {
    transform: translate(15.5543vw, 69.424vh) scale(0.9064);
  }
  to {
    transform: translate(18.87125vw, 100vh) scale(0.9064);
  }
}
.snow:nth-child(124) {
  opacity: 0.7166;
  transform: translate(76.2762vw, -10px) scale(0.1976);
  animation: fall-124 22s -28s linear infinite;
}

@keyframes fall-124 {
  60.551% {
    transform: translate(69.6725vw, 60.551vh) scale(0.1976);
  }
  to {
    transform: translate(72.97435vw, 100vh) scale(0.1976);
  }
}
.snow:nth-child(125) {
  opacity: 0.9796;
  transform: translate(34.677vw, -10px) scale(0.7463);
  animation: fall-125 24s -8s linear infinite;
}

@keyframes fall-125 {
  73.837% {
    transform: translate(33.4295vw, 73.837vh) scale(0.7463);
  }
  to {
    transform: translate(34.05325vw, 100vh) scale(0.7463);
  }
}
.snow:nth-child(126) {
  opacity: 0.1613;
  transform: translate(54.8974vw, -10px) scale(0.2045);
  animation: fall-126 13s -12s linear infinite;
}

@keyframes fall-126 {
  76.835% {
    transform: translate(63.0599vw, 76.835vh) scale(0.2045);
  }
  to {
    transform: translate(58.97865vw, 100vh) scale(0.2045);
  }
}
.snow:nth-child(127) {
  opacity: 0.186;
  transform: translate(9.2788vw, -10px) scale(0.7308);
  animation: fall-127 28s -22s linear infinite;
}

@keyframes fall-127 {
  44.741% {
    transform: translate(12.7935vw, 44.741vh) scale(0.7308);
  }
  to {
    transform: translate(11.03615vw, 100vh) scale(0.7308);
  }
}
.snow:nth-child(128) {
  opacity: 0.1627;
  transform: translate(95.3593vw, -10px) scale(0.5915);
  animation: fall-128 12s -30s linear infinite;
}

@keyframes fall-128 {
  52.589% {
    transform: translate(89.096vw, 52.589vh) scale(0.5915);
  }
  to {
    transform: translate(92.22765vw, 100vh) scale(0.5915);
  }
}
.snow:nth-child(129) {
  opacity: 0.0434;
  transform: translate(10.9833vw, -10px) scale(0.4801);
  animation: fall-129 24s -8s linear infinite;
}

@keyframes fall-129 {
  54.08% {
    transform: translate(17.0095vw, 54.08vh) scale(0.4801);
  }
  to {
    transform: translate(13.9964vw, 100vh) scale(0.4801);
  }
}
.snow:nth-child(130) {
  opacity: 0.7932;
  transform: translate(23.8213vw, -10px) scale(0.9159);
  animation: fall-130 13s -5s linear infinite;
}

@keyframes fall-130 {
  49.503% {
    transform: translate(15.7218vw, 49.503vh) scale(0.9159);
  }
  to {
    transform: translate(19.77155vw, 100vh) scale(0.9159);
  }
}
.snow:nth-child(131) {
  opacity: 0.8684;
  transform: translate(30.5044vw, -10px) scale(0.8561);
  animation: fall-131 11s -2s linear infinite;
}

@keyframes fall-131 {
  59.211% {
    transform: translate(38.7846vw, 59.211vh) scale(0.8561);
  }
  to {
    transform: translate(34.6445vw, 100vh) scale(0.8561);
  }
}
.snow:nth-child(132) {
  opacity: 0.5243;
  transform: translate(39.4896vw, -10px) scale(0.0177);
  animation: fall-132 21s -28s linear infinite;
}

@keyframes fall-132 {
  30.869% {
    transform: translate(45.2053vw, 30.869vh) scale(0.0177);
  }
  to {
    transform: translate(42.34745vw, 100vh) scale(0.0177);
  }
}
.snow:nth-child(133) {
  opacity: 0.0621;
  transform: translate(90.4737vw, -10px) scale(0.5176);
  animation: fall-133 27s -20s linear infinite;
}

@keyframes fall-133 {
  50.615% {
    transform: translate(99.6837vw, 50.615vh) scale(0.5176);
  }
  to {
    transform: translate(95.0787vw, 100vh) scale(0.5176);
  }
}
.snow:nth-child(134) {
  opacity: 0.3754;
  transform: translate(24.9949vw, -10px) scale(0.8531);
  animation: fall-134 23s -4s linear infinite;
}

@keyframes fall-134 {
  54.86% {
    transform: translate(25.603vw, 54.86vh) scale(0.8531);
  }
  to {
    transform: translate(25.29895vw, 100vh) scale(0.8531);
  }
}
.snow:nth-child(135) {
  opacity: 0.0968;
  transform: translate(22.4537vw, -10px) scale(0.3295);
  animation: fall-135 25s -16s linear infinite;
}

@keyframes fall-135 {
  48.106% {
    transform: translate(16.1845vw, 48.106vh) scale(0.3295);
  }
  to {
    transform: translate(19.3191vw, 100vh) scale(0.3295);
  }
}
.snow:nth-child(136) {
  opacity: 0.6054;
  transform: translate(40.6865vw, -10px) scale(0.6787);
  animation: fall-136 25s -30s linear infinite;
}

@keyframes fall-136 {
  32.227% {
    transform: translate(33.6392vw, 32.227vh) scale(0.6787);
  }
  to {
    transform: translate(37.16285vw, 100vh) scale(0.6787);
  }
}
.snow:nth-child(137) {
  opacity: 0.2887;
  transform: translate(66.9619vw, -10px) scale(0.3482);
  animation: fall-137 27s -18s linear infinite;
}

@keyframes fall-137 {
  34.734% {
    transform: translate(71.4703vw, 34.734vh) scale(0.3482);
  }
  to {
    transform: translate(69.2161vw, 100vh) scale(0.3482);
  }
}
.snow:nth-child(138) {
  opacity: 0.3222;
  transform: translate(99.4193vw, -10px) scale(0.3723);
  animation: fall-138 25s -26s linear infinite;
}

@keyframes fall-138 {
  74.179% {
    transform: translate(105.5915vw, 74.179vh) scale(0.3723);
  }
  to {
    transform: translate(102.5054vw, 100vh) scale(0.3723);
  }
}
.snow:nth-child(139) {
  opacity: 0.3419;
  transform: translate(22.8406vw, -10px) scale(0.9519);
  animation: fall-139 13s -22s linear infinite;
}

@keyframes fall-139 {
  49.294% {
    transform: translate(24.3761vw, 49.294vh) scale(0.9519);
  }
  to {
    transform: translate(23.60835vw, 100vh) scale(0.9519);
  }
}
.snow:nth-child(140) {
  opacity: 0.4242;
  transform: translate(35.5452vw, -10px) scale(0.3107);
  animation: fall-140 16s -24s linear infinite;
}

@keyframes fall-140 {
  52.025% {
    transform: translate(41.0181vw, 52.025vh) scale(0.3107);
  }
  to {
    transform: translate(38.28165vw, 100vh) scale(0.3107);
  }
}
.snow:nth-child(141) {
  opacity: 0.0953;
  transform: translate(71.9358vw, -10px) scale(0.9237);
  animation: fall-141 11s -24s linear infinite;
}

@keyframes fall-141 {
  56.29% {
    transform: translate(75.5719vw, 56.29vh) scale(0.9237);
  }
  to {
    transform: translate(73.75385vw, 100vh) scale(0.9237);
  }
}
.snow:nth-child(142) {
  opacity: 0.5653;
  transform: translate(89.7678vw, -10px) scale(0.2599);
  animation: fall-142 27s -21s linear infinite;
}

@keyframes fall-142 {
  57.79% {
    transform: translate(98.0936vw, 57.79vh) scale(0.2599);
  }
  to {
    transform: translate(93.9307vw, 100vh) scale(0.2599);
  }
}
.snow:nth-child(143) {
  opacity: 0.1523;
  transform: translate(1.6452vw, -10px) scale(0.7021);
  animation: fall-143 14s -2s linear infinite;
}

@keyframes fall-143 {
  58.229% {
    transform: translate(-0.4802vw, 58.229vh) scale(0.7021);
  }
  to {
    transform: translate(0.5825vw, 100vh) scale(0.7021);
  }
}
.snow:nth-child(144) {
  opacity: 0.3826;
  transform: translate(50.0307vw, -10px) scale(0.813);
  animation: fall-144 11s -9s linear infinite;
}

@keyframes fall-144 {
  57.523% {
    transform: translate(55.2504vw, 57.523vh) scale(0.813);
  }
  to {
    transform: translate(52.64055vw, 100vh) scale(0.813);
  }
}
.snow:nth-child(145) {
  opacity: 0.5217;
  transform: translate(88.6109vw, -10px) scale(0.0997);
  animation: fall-145 13s -5s linear infinite;
}

@keyframes fall-145 {
  45.973% {
    transform: translate(96.8044vw, 45.973vh) scale(0.0997);
  }
  to {
    transform: translate(92.70765vw, 100vh) scale(0.0997);
  }
}
.snow:nth-child(146) {
  opacity: 0.9827;
  transform: translate(35.5276vw, -10px) scale(0.6848);
  animation: fall-146 20s -19s linear infinite;
}

@keyframes fall-146 {
  50.963% {
    transform: translate(35.2873vw, 50.963vh) scale(0.6848);
  }
  to {
    transform: translate(35.40745vw, 100vh) scale(0.6848);
  }
}
.snow:nth-child(147) {
  opacity: 0.6232;
  transform: translate(0.4497vw, -10px) scale(0.6535);
  animation: fall-147 19s -29s linear infinite;
}

@keyframes fall-147 {
  70.988% {
    transform: translate(2.3762vw, 70.988vh) scale(0.6535);
  }
  to {
    transform: translate(1.41295vw, 100vh) scale(0.6535);
  }
}
.snow:nth-child(148) {
  opacity: 0.4778;
  transform: translate(68.5117vw, -10px) scale(0.6976);
  animation: fall-148 12s -9s linear infinite;
}

@keyframes fall-148 {
  41.868% {
    transform: translate(72.964vw, 41.868vh) scale(0.6976);
  }
  to {
    transform: translate(70.73785vw, 100vh) scale(0.6976);
  }
}
.snow:nth-child(149) {
  opacity: 0.6364;
  transform: translate(29.6729vw, -10px) scale(0.7832);
  animation: fall-149 24s -5s linear infinite;
}

@keyframes fall-149 {
  44.849% {
    transform: translate(28.1734vw, 44.849vh) scale(0.7832);
  }
  to {
    transform: translate(28.92315vw, 100vh) scale(0.7832);
  }
}
.snow:nth-child(150) {
  opacity: 0.4277;
  transform: translate(67.7497vw, -10px) scale(0.1622);
  animation: fall-150 13s -13s linear infinite;
}

@keyframes fall-150 {
  37.774% {
    transform: translate(72.7766vw, 37.774vh) scale(0.1622);
  }
  to {
    transform: translate(70.26315vw, 100vh) scale(0.1622);
  }
}
.snow:nth-child(151) {
  opacity: 0.9963;
  transform: translate(53.029vw, -10px) scale(0.2052);
  animation: fall-151 13s -26s linear infinite;
}

@keyframes fall-151 {
  44.151% {
    transform: translate(58.9601vw, 44.151vh) scale(0.2052);
  }
  to {
    transform: translate(55.99455vw, 100vh) scale(0.2052);
  }
}
.snow:nth-child(152) {
  opacity: 0.1316;
  transform: translate(29.3878vw, -10px) scale(0.1826);
  animation: fall-152 25s -17s linear infinite;
}

@keyframes fall-152 {
  60.289% {
    transform: translate(26.046vw, 60.289vh) scale(0.1826);
  }
  to {
    transform: translate(27.7169vw, 100vh) scale(0.1826);
  }
}
.snow:nth-child(153) {
  opacity: 0.7908;
  transform: translate(59.4551vw, -10px) scale(0.1737);
  animation: fall-153 29s -3s linear infinite;
}

@keyframes fall-153 {
  47.878% {
    transform: translate(66.6702vw, 47.878vh) scale(0.1737);
  }
  to {
    transform: translate(63.06265vw, 100vh) scale(0.1737);
  }
}
.snow:nth-child(154) {
  opacity: 0.0315;
  transform: translate(79.5744vw, -10px) scale(0.3523);
  animation: fall-154 21s -18s linear infinite;
}

@keyframes fall-154 {
  47.589% {
    transform: translate(78.2905vw, 47.589vh) scale(0.3523);
  }
  to {
    transform: translate(78.93245vw, 100vh) scale(0.3523);
  }
}
.snow:nth-child(155) {
  opacity: 0.5296;
  transform: translate(39.8133vw, -10px) scale(0.3636);
  animation: fall-155 24s -8s linear infinite;
}

@keyframes fall-155 {
  42.903% {
    transform: translate(30.6132vw, 42.903vh) scale(0.3636);
  }
  to {
    transform: translate(35.21325vw, 100vh) scale(0.3636);
  }
}
.snow:nth-child(156) {
  opacity: 0.2651;
  transform: translate(14.8613vw, -10px) scale(0.6841);
  animation: fall-156 10s -13s linear infinite;
}

@keyframes fall-156 {
  74.963% {
    transform: translate(24.706vw, 74.963vh) scale(0.6841);
  }
  to {
    transform: translate(19.78365vw, 100vh) scale(0.6841);
  }
}
.snow:nth-child(157) {
  opacity: 0.5676;
  transform: translate(55.6764vw, -10px) scale(0.7128);
  animation: fall-157 16s -15s linear infinite;
}

@keyframes fall-157 {
  47.81% {
    transform: translate(59.7204vw, 47.81vh) scale(0.7128);
  }
  to {
    transform: translate(57.6984vw, 100vh) scale(0.7128);
  }
}
.snow:nth-child(158) {
  opacity: 0.1558;
  transform: translate(38.3938vw, -10px) scale(0.3367);
  animation: fall-158 20s -30s linear infinite;
}

@keyframes fall-158 {
  65.119% {
    transform: translate(43.9172vw, 65.119vh) scale(0.3367);
  }
  to {
    transform: translate(41.1555vw, 100vh) scale(0.3367);
  }
}
.snow:nth-child(159) {
  opacity: 0.1373;
  transform: translate(44.1383vw, -10px) scale(0.9444);
  animation: fall-159 17s -2s linear infinite;
}

@keyframes fall-159 {
  63.191% {
    transform: translate(45.8512vw, 63.191vh) scale(0.9444);
  }
  to {
    transform: translate(44.99475vw, 100vh) scale(0.9444);
  }
}
.snow:nth-child(160) {
  opacity: 0.4164;
  transform: translate(28.7908vw, -10px) scale(0.2037);
  animation: fall-160 21s -1s linear infinite;
}

@keyframes fall-160 {
  57.801% {
    transform: translate(32.1136vw, 57.801vh) scale(0.2037);
  }
  to {
    transform: translate(30.4522vw, 100vh) scale(0.2037);
  }
}
.snow:nth-child(161) {
  opacity: 0.2229;
  transform: translate(47.0749vw, -10px) scale(0.6819);
  animation: fall-161 13s -17s linear infinite;
}

@keyframes fall-161 {
  56.213% {
    transform: translate(49.3269vw, 56.213vh) scale(0.6819);
  }
  to {
    transform: translate(48.2009vw, 100vh) scale(0.6819);
  }
}
.snow:nth-child(162) {
  opacity: 0.5576;
  transform: translate(87.8295vw, -10px) scale(0.6506);
  animation: fall-162 14s -1s linear infinite;
}

@keyframes fall-162 {
  60.968% {
    transform: translate(94.6594vw, 60.968vh) scale(0.6506);
  }
  to {
    transform: translate(91.24445vw, 100vh) scale(0.6506);
  }
}
.snow:nth-child(163) {
  opacity: 0.7112;
  transform: translate(52.6211vw, -10px) scale(0.2857);
  animation: fall-163 29s -29s linear infinite;
}

@keyframes fall-163 {
  50.924% {
    transform: translate(42.7494vw, 50.924vh) scale(0.2857);
  }
  to {
    transform: translate(47.68525vw, 100vh) scale(0.2857);
  }
}
.snow:nth-child(164) {
  opacity: 0.8674;
  transform: translate(55.1231vw, -10px) scale(0.2144);
  animation: fall-164 19s -23s linear infinite;
}

@keyframes fall-164 {
  64.231% {
    transform: translate(54.9526vw, 64.231vh) scale(0.2144);
  }
  to {
    transform: translate(55.03785vw, 100vh) scale(0.2144);
  }
}
.snow:nth-child(165) {
  opacity: 0.8993;
  transform: translate(86.7534vw, -10px) scale(0.2241);
  animation: fall-165 17s -23s linear infinite;
}

@keyframes fall-165 {
  60.578% {
    transform: translate(92.3927vw, 60.578vh) scale(0.2241);
  }
  to {
    transform: translate(89.57305vw, 100vh) scale(0.2241);
  }
}
.snow:nth-child(166) {
  opacity: 0.4903;
  transform: translate(23.7589vw, -10px) scale(0.1566);
  animation: fall-166 30s -29s linear infinite;
}

@keyframes fall-166 {
  65.635% {
    transform: translate(21.3636vw, 65.635vh) scale(0.1566);
  }
  to {
    transform: translate(22.56125vw, 100vh) scale(0.1566);
  }
}
.snow:nth-child(167) {
  opacity: 0.557;
  transform: translate(97.0003vw, -10px) scale(0.0299);
  animation: fall-167 29s -10s linear infinite;
}

@keyframes fall-167 {
  68.604% {
    transform: translate(101.2719vw, 68.604vh) scale(0.0299);
  }
  to {
    transform: translate(99.1361vw, 100vh) scale(0.0299);
  }
}
.snow:nth-child(168) {
  opacity: 0.4705;
  transform: translate(22.775vw, -10px) scale(0.747);
  animation: fall-168 22s -21s linear infinite;
}

@keyframes fall-168 {
  76.465% {
    transform: translate(17.6306vw, 76.465vh) scale(0.747);
  }
  to {
    transform: translate(20.2028vw, 100vh) scale(0.747);
  }
}
.snow:nth-child(169) {
  opacity: 0.6295;
  transform: translate(54.7925vw, -10px) scale(0.4567);
  animation: fall-169 20s -8s linear infinite;
}

@keyframes fall-169 {
  34.991% {
    transform: translate(61.2827vw, 34.991vh) scale(0.4567);
  }
  to {
    transform: translate(58.0376vw, 100vh) scale(0.4567);
  }
}
.snow:nth-child(170) {
  opacity: 0.3401;
  transform: translate(49.2716vw, -10px) scale(0.6653);
  animation: fall-170 25s -28s linear infinite;
}

@keyframes fall-170 {
  72.386% {
    transform: translate(41.2474vw, 72.386vh) scale(0.6653);
  }
  to {
    transform: translate(45.2595vw, 100vh) scale(0.6653);
  }
}
.snow:nth-child(171) {
  opacity: 0.988;
  transform: translate(22.3826vw, -10px) scale(0.2685);
  animation: fall-171 17s -27s linear infinite;
}

@keyframes fall-171 {
  55.088% {
    transform: translate(29.2319vw, 55.088vh) scale(0.2685);
  }
  to {
    transform: translate(25.80725vw, 100vh) scale(0.2685);
  }
}
.snow:nth-child(172) {
  opacity: 0.842;
  transform: translate(61.7306vw, -10px) scale(0.8281);
  animation: fall-172 19s -12s linear infinite;
}

@keyframes fall-172 {
  43.361% {
    transform: translate(66.4655vw, 43.361vh) scale(0.8281);
  }
  to {
    transform: translate(64.09805vw, 100vh) scale(0.8281);
  }
}
.snow:nth-child(173) {
  opacity: 0.4378;
  transform: translate(77.5261vw, -10px) scale(0.9944);
  animation: fall-173 22s -30s linear infinite;
}

@keyframes fall-173 {
  40.9% {
    transform: translate(76.8844vw, 40.9vh) scale(0.9944);
  }
  to {
    transform: translate(77.20525vw, 100vh) scale(0.9944);
  }
}
.snow:nth-child(174) {
  opacity: 0.2039;
  transform: translate(88.5026vw, -10px) scale(0.4987);
  animation: fall-174 23s -1s linear infinite;
}

@keyframes fall-174 {
  67.237% {
    transform: translate(78.6285vw, 67.237vh) scale(0.4987);
  }
  to {
    transform: translate(83.56555vw, 100vh) scale(0.4987);
  }
}
.snow:nth-child(175) {
  opacity: 0.2322;
  transform: translate(90.0626vw, -10px) scale(0.9979);
  animation: fall-175 11s -21s linear infinite;
}

@keyframes fall-175 {
  37.979% {
    transform: translate(84.577vw, 37.979vh) scale(0.9979);
  }
  to {
    transform: translate(87.3198vw, 100vh) scale(0.9979);
  }
}
.snow:nth-child(176) {
  opacity: 0.9752;
  transform: translate(28.4994vw, -10px) scale(0.9967);
  animation: fall-176 29s -7s linear infinite;
}

@keyframes fall-176 {
  76.481% {
    transform: translate(22.7999vw, 76.481vh) scale(0.9967);
  }
  to {
    transform: translate(25.64965vw, 100vh) scale(0.9967);
  }
}
.snow:nth-child(177) {
  opacity: 0.8948;
  transform: translate(24.1564vw, -10px) scale(0.3843);
  animation: fall-177 19s -25s linear infinite;
}

@keyframes fall-177 {
  77.55% {
    transform: translate(27.6513vw, 77.55vh) scale(0.3843);
  }
  to {
    transform: translate(25.90385vw, 100vh) scale(0.3843);
  }
}
.snow:nth-child(178) {
  opacity: 0.6533;
  transform: translate(52.3302vw, -10px) scale(0.6897);
  animation: fall-178 24s -12s linear infinite;
}

@keyframes fall-178 {
  51.686% {
    transform: translate(61.5295vw, 51.686vh) scale(0.6897);
  }
  to {
    transform: translate(56.92985vw, 100vh) scale(0.6897);
  }
}
.snow:nth-child(179) {
  opacity: 0.0405;
  transform: translate(26.6814vw, -10px) scale(0.0998);
  animation: fall-179 20s -11s linear infinite;
}

@keyframes fall-179 {
  42.618% {
    transform: translate(26.5822vw, 42.618vh) scale(0.0998);
  }
  to {
    transform: translate(26.6318vw, 100vh) scale(0.0998);
  }
}
.snow:nth-child(180) {
  opacity: 0.9886;
  transform: translate(10.1584vw, -10px) scale(0.8549);
  animation: fall-180 20s -5s linear infinite;
}

@keyframes fall-180 {
  65.978% {
    transform: translate(13.2482vw, 65.978vh) scale(0.8549);
  }
  to {
    transform: translate(11.7033vw, 100vh) scale(0.8549);
  }
}
.snow:nth-child(181) {
  opacity: 0.6749;
  transform: translate(65.5754vw, -10px) scale(0.9249);
  animation: fall-181 20s -27s linear infinite;
}

@keyframes fall-181 {
  39.044% {
    transform: translate(58.9551vw, 39.044vh) scale(0.9249);
  }
  to {
    transform: translate(62.26525vw, 100vh) scale(0.9249);
  }
}
.snow:nth-child(182) {
  opacity: 0.102;
  transform: translate(56.9473vw, -10px) scale(0.0244);
  animation: fall-182 29s -5s linear infinite;
}

@keyframes fall-182 {
  39.239% {
    transform: translate(50.6796vw, 39.239vh) scale(0.0244);
  }
  to {
    transform: translate(53.81345vw, 100vh) scale(0.0244);
  }
}
.snow:nth-child(183) {
  opacity: 0.1262;
  transform: translate(57.2717vw, -10px) scale(0.8022);
  animation: fall-183 20s -11s linear infinite;
}

@keyframes fall-183 {
  62.574% {
    transform: translate(49.4179vw, 62.574vh) scale(0.8022);
  }
  to {
    transform: translate(53.3448vw, 100vh) scale(0.8022);
  }
}
.snow:nth-child(184) {
  opacity: 0.172;
  transform: translate(65.3243vw, -10px) scale(0.1811);
  animation: fall-184 11s -30s linear infinite;
}

@keyframes fall-184 {
  58.891% {
    transform: translate(56.2287vw, 58.891vh) scale(0.1811);
  }
  to {
    transform: translate(60.7765vw, 100vh) scale(0.1811);
  }
}
.snow:nth-child(185) {
  opacity: 0.0617;
  transform: translate(74.1963vw, -10px) scale(0.9438);
  animation: fall-185 23s -18s linear infinite;
}

@keyframes fall-185 {
  41.652% {
    transform: translate(67.6166vw, 41.652vh) scale(0.9438);
  }
  to {
    transform: translate(70.90645vw, 100vh) scale(0.9438);
  }
}
.snow:nth-child(186) {
  opacity: 0.9928;
  transform: translate(76.2171vw, -10px) scale(0.3509);
  animation: fall-186 27s -12s linear infinite;
}

@keyframes fall-186 {
  54.968% {
    transform: translate(75.8747vw, 54.968vh) scale(0.3509);
  }
  to {
    transform: translate(76.0459vw, 100vh) scale(0.3509);
  }
}
.snow:nth-child(187) {
  opacity: 0.5535;
  transform: translate(58.3847vw, -10px) scale(0.101);
  animation: fall-187 30s -27s linear infinite;
}

@keyframes fall-187 {
  63.238% {
    transform: translate(52.3417vw, 63.238vh) scale(0.101);
  }
  to {
    transform: translate(55.3632vw, 100vh) scale(0.101);
  }
}
.snow:nth-child(188) {
  opacity: 0.4337;
  transform: translate(35.3946vw, -10px) scale(0.2383);
  animation: fall-188 21s -22s linear infinite;
}

@keyframes fall-188 {
  73.149% {
    transform: translate(32.8725vw, 73.149vh) scale(0.2383);
  }
  to {
    transform: translate(34.13355vw, 100vh) scale(0.2383);
  }
}
.snow:nth-child(189) {
  opacity: 0.2002;
  transform: translate(21.4782vw, -10px) scale(0.8486);
  animation: fall-189 30s -6s linear infinite;
}

@keyframes fall-189 {
  48.126% {
    transform: translate(25.7778vw, 48.126vh) scale(0.8486);
  }
  to {
    transform: translate(23.628vw, 100vh) scale(0.8486);
  }
}
.snow:nth-child(190) {
  opacity: 0.922;
  transform: translate(58.1267vw, -10px) scale(0.0442);
  animation: fall-190 30s -16s linear infinite;
}

@keyframes fall-190 {
  34.615% {
    transform: translate(61.286vw, 34.615vh) scale(0.0442);
  }
  to {
    transform: translate(59.70635vw, 100vh) scale(0.0442);
  }
}
.snow:nth-child(191) {
  opacity: 0.0834;
  transform: translate(46.4555vw, -10px) scale(0.5595);
  animation: fall-191 22s -18s linear infinite;
}

@keyframes fall-191 {
  69.083% {
    transform: translate(43.6224vw, 69.083vh) scale(0.5595);
  }
  to {
    transform: translate(45.03895vw, 100vh) scale(0.5595);
  }
}
.snow:nth-child(192) {
  opacity: 0.5594;
  transform: translate(54.0548vw, -10px) scale(0.3762);
  animation: fall-192 10s -2s linear infinite;
}

@keyframes fall-192 {
  47.536% {
    transform: translate(58.7446vw, 47.536vh) scale(0.3762);
  }
  to {
    transform: translate(56.3997vw, 100vh) scale(0.3762);
  }
}
.snow:nth-child(193) {
  opacity: 0.1975;
  transform: translate(85.3834vw, -10px) scale(0.7629);
  animation: fall-193 21s -23s linear infinite;
}

@keyframes fall-193 {
  53.199% {
    transform: translate(91.9483vw, 53.199vh) scale(0.7629);
  }
  to {
    transform: translate(88.66585vw, 100vh) scale(0.7629);
  }
}
.snow:nth-child(194) {
  opacity: 0.2024;
  transform: translate(59.4618vw, -10px) scale(0.3353);
  animation: fall-194 22s -13s linear infinite;
}

@keyframes fall-194 {
  46.277% {
    transform: translate(66.1885vw, 46.277vh) scale(0.3353);
  }
  to {
    transform: translate(62.82515vw, 100vh) scale(0.3353);
  }
}
.snow:nth-child(195) {
  opacity: 0.3483;
  transform: translate(84.913vw, -10px) scale(0.2456);
  animation: fall-195 20s -29s linear infinite;
}

@keyframes fall-195 {
  39.003% {
    transform: translate(91.2072vw, 39.003vh) scale(0.2456);
  }
  to {
    transform: translate(88.0601vw, 100vh) scale(0.2456);
  }
}
.snow:nth-child(196) {
  opacity: 0.776;
  transform: translate(98.8156vw, -10px) scale(0.879);
  animation: fall-196 19s -4s linear infinite;
}

@keyframes fall-196 {
  33.214% {
    transform: translate(106.4358vw, 33.214vh) scale(0.879);
  }
  to {
    transform: translate(102.6257vw, 100vh) scale(0.879);
  }
}
.snow:nth-child(197) {
  opacity: 0.5177;
  transform: translate(24.622vw, -10px) scale(0.9681);
  animation: fall-197 15s -1s linear infinite;
}

@keyframes fall-197 {
  69.72% {
    transform: translate(14.8846vw, 69.72vh) scale(0.9681);
  }
  to {
    transform: translate(19.7533vw, 100vh) scale(0.9681);
  }
}
.snow:nth-child(198) {
  opacity: 0.4973;
  transform: translate(77.3928vw, -10px) scale(0.0901);
  animation: fall-198 24s -2s linear infinite;
}

@keyframes fall-198 {
  72.466% {
    transform: translate(85.5067vw, 72.466vh) scale(0.0901);
  }
  to {
    transform: translate(81.44975vw, 100vh) scale(0.0901);
  }
}
.snow:nth-child(199) {
  opacity: 0.6874;
  transform: translate(75.8968vw, -10px) scale(0.8572);
  animation: fall-199 23s -9s linear infinite;
}

@keyframes fall-199 {
  62.618% {
    transform: translate(77.6745vw, 62.618vh) scale(0.8572);
  }
  to {
    transform: translate(76.78565vw, 100vh) scale(0.8572);
  }
}
.snow:nth-child(200) {
  opacity: 0.1039;
  transform: translate(89.6484vw, -10px) scale(0.147);
  animation: fall-200 19s -30s linear infinite;
}

@keyframes fall-200 {
  73.828% {
    transform: translate(87.9323vw, 73.828vh) scale(0.147);
  }
  to {
    transform: translate(88.79035vw, 100vh) scale(0.147);
  }
}
